@model IEnumerable<AirlineCoreLibrary.Model.Flight>

<table id="tblFlight" class="table table-hover">
    <thead class="table">
        <tr>
            <th>
                <span>#Flight</span>
            </th>
            <th>
                <span>Trip</span>
            </th>
            <th>
                <span>Departure</span>
            </th>
            <th>
                <span>#Pax</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-flight-key="@item.FlightKey">
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure) - @Html.DisplayFor(modelItem => item.Arrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduledDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPax)
                </td>
            </tr>
        }
    </tbody>
</table>
