@model IEnumerable<AirlineCompensation.Models.Passenger>
@{
    string? fullName;
}

<table id="tblPassenger" class="table table-hover" style="border-collapse: collapse;">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                <span>PNR</span>
            </th>
            <th>
                <span>Pax Name</span>
            </th>
            <th>
                <span>Mobile</span>
            </th>
            <th>
                <span>Email</span>
            </th>
            <th>
                <span>Compensation</span>
            </th>
            <th>
                <span>Status</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            fullName = $"{item.FirstName} {item.LastName}";
            <tr>
                <td><input type="checkbox" class="row-checkbox"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pnr)
                </td>
                <td>
                    @Html.Label(@fullName)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Phone))
                    {
                        <span class="bi bi-phone" style="font-size: 1.5rem;" title="@item.Phone"></span>
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Email))
                    {
                        <span class="bi bi-envelope" style="font-size: 1.5rem;" title="@item.Email"></span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferStatus)
                </td>
            </tr>
            <tr class="hidden-content">
                <td colspan="7">
                    <div class="hidden-div">
                        <p>Pax: @fullName</p>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
